/* Global styles */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
}
/* header styles */
.header {
  background-image: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
}
.btn-primary {
  background: #f15b22;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 21px 25px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 32px;
  margin-bottom: 187px;
}
.banner-content {
  text-align: right;
  margin: 216px 230px 0px 845px;
}
.header-title {
  color: rgb(21, 20, 20);
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 0px;
}
.banner-description {
  color: rgb(68, 67, 67);
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 0px;
}
/* main styles */
main {
  margin-left: 250px;
  margin-right: 250px;
}
/* Failure */
.my-failure {
  display: flex;
  margin-top: 130px;
  gap: 87px;
}
.failure-text {
  margin-top: 235px;
}
.failure-title {
  color: rgb(21, 20, 20);
  font-size: 40px;
  font-weight: 700;
}
.failure-description {
  color: rgb(68, 67, 67);
  font-size: 16px;
  font-weight: 400;
}
.list {
  color: rgb(68, 67, 67);
  font-size: 16px;
  font-weight: 400;
}
/* Plans */
.plan {
  display: flex;
  gap: 86px;
}
.plan-title {
  color: rgb(21, 20, 20);
  font-size: 40px;
  font-weight: 700;
  margin-left: 481px;
  margin-bottom: 0px;
}
.plan-image {
  margin-left: 90px;
  margin-top: 50px;
  margin-bottom: 0px;
}
.plan-site {
  color: rgb(21, 20, 20);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 0px;
  /* margin-left: 30px; */
}
.plan-description {
  color: rgb(115, 114, 114);
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
}

.mindset-img {
}
.mindset {
  display: flex;
  background: url("../images/watch.png");
  background-repeat: no-repeat;
}
.mindset-title {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
}
.mindset-btn {
  color: rgb(241, 91, 34);
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  padding: 20px 36px;
  border: none;
  border-radius: 8px;
}

.footer {
  display: flex;
  background-color: black;
  padding: 130px 230px;
  gap: 330px;
}
.footer-title {
  color: rgb(248, 248, 248);
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 0px;
}
.footer-description {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 24px;
}
.footer-email {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 16px;
}
.footer-phone {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 32px;
}
.footer-img {
    display: inline;
  gap: 17px;
}
.title {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0px;
}
#email {
  padding: 21px 158px 21px 21px;
  color: white;
  background-color: black;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 31px;
  margin-bottom: 16;
}
